body{
    background-color: aqua;
    margin: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1,h2{
    text-align: center;
    color: black;
    margin-bottom: 5px;
    text-decoration: underline;
}
.adress-book{
    border: 2px solid black;
    padding: 20px;
    border-radius: 7px;
    background-color: lightsalmon;
    margin-bottom: 10px;
}
#add-contact{
    color: red;
    margin-top: 0;
    margin-bottom: 10px;
}
.Places{
    border: 2px solid black;
    background-color: lightsalmon;
    padding: 20px;
    border-radius: 7px;
    margin-bottom: 30px;
}
#Add-place{
    color: red;
}

.task-input{
    border: 2px solid black;
    background-color: lightsalmon;
    padding: 20px;
    border-radius: 7px;
    margin-bottom: 25px;
}
.name, .phone, .email{
    width: 80%;
    gap: 7px;
    padding: 3px;
}
.add-contact{
    border: 1px solid black;
    border-radius: 7px;
    background-color: mediumblue;
    color: white;
    padding: 7px;
    margin-top: 7px;
    cursor: pointer;
}
.new-task{
    width: 60%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px;
}
.Add-place{
    border: 1px solid black;
    border-radius: 7px;
    background-color: mediumblue;
    color: white;
    padding: 7px;
    cursor: pointer;
}